/* Device width <= 1000px */
@media only screen and (max-width: 62.5em) {
  /* PAGE HEADER SECTION */
  .page-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 99;
  }

  .page-header__top-bar {
    box-shadow: var(--shadow-sm);
  }

  .page-header__top-bar .btn-icon {
    display: block;
  }

  .page-header__service-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: #fff;
    transform: translateY(100%);
    flex-direction: column;
    padding: 3.6rem 4.8rem;
    box-shadow: var(--shadow-md);
    opacity: 0;
    visibility: hidden;
  }

  .page-header__service {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
    margin-bottom: 1.6rem;
  }

  .page-header__service__item {
    margin-bottom: 2.4rem;
  }

  .vertical-ruler {
    display: none;
  }

  .page-header__service-wrapper,
  .page-header__bottom-bar {
    transition: all var(--animate-md);
  }

  .page-header__service-wrapper.show,
  .page-header__bottom-bar.show {
    opacity: 1;
    visibility: visible;
  }

  .page-header__bottom-bar {
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    box-shadow: var(--shadow-md);
    opacity: 0;
    visibility: hidden;
  }

  .page-header__bottom-bar .container {
    flex-direction: column;
    padding: 0;
    width: 24rem;
  }

  .page-header__nav {
    width: 100%;
  }

  .page-header__nav-links {
    flex-direction: column;
    align-items: center;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
  }

  .page-header__nav-links__item {
    color: #000;
    padding: 0.8rem;
  }

  .page-header__nav-links__item:hover span::before {
    width: 0;
  }

  .page-header__nav-links__item .page-header__nav-links__sub-menu {
    display: none;
  }

  .page-header__social-links {
    order: -1;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    width: 100%;
    text-align: center;
    padding: 2.4rem 0;
  }

  .page-header__social-links .link-text {
    color: #000;
  }

  .page-header__social-links .link-text:hover,
  .page-header__nav-links__item:hover {
    color: var(--color-primary);
  }

  /* HERO SECTION */
  .hero-section {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
  }
}

/* Device width <= 860px */
@media only screen and (max-width: 53.75em) {
  /* TOUR CATEGORIES SECTION */
  .tour-categories-container {
    transform: translateY(0);
    padding-top: 7.2rem;
  }

  /* HOT TOURS SECTION */
  .hot-tours-item {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
  }

  .hot-tours-item__info {
    padding-left: 4.8rem;
    padding-right: 4.8rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .hot-tours-item__info a {
    align-self: center;
  }

  /* BLOGS SECTION */
  .blogs-list {
    grid-template-columns: 0.7fr;
    row-gap: 8.6rem;
    justify-content: center;
  }

  .blogs-item {
    aspect-ratio: 3 / 1;
  }

  .blogs-item .text-content__animation-box__social-links-list {
    height: 3.2rem;
    opacity: 1;
  }

  .blogs-item .text-content__animation-box__social-links-list a {
    opacity: 1;
    transform: translateY(0);
  }

  /* PAGE FOOTER */
  .page-footer {
    grid-template-columns: 1fr 1fr;
    row-gap: 3.6rem;
  }
}

/* Device width <= 600px */
@media only screen and (max-width: 37.5em) {
  :root {
    --section-gap: 6.4rem;
  }

  html {
    font-size: 56.25%;
  }

  .page-header__bottom-bar,
  .page-header__bottom-bar .container {
    width: 100%;
  }

  .page-header__service-wrapper {
    width: 100%;
  }

  .page-header__service {
    align-items: center;
  }

  .page-header__service-wrapper a {
    text-align: center;
  }

  .hot-tours-item__info {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }

  .hot-tours-item {
    width: 100%;
  }

  .blogs-list {
    grid-template-columns: 1fr;
  }

  .blogs-item {
    box-shadow: 0px 3px 12px 3px rgba(0, 0, 0, 0.15);
  }

  .blogs-item__text-content {
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    position: static;
    transform: translate(0, 0);
    width: 100%;
    box-shadow: none;
  }

  /* PAGE FOOTER */
  .page-footer {
    grid-template-columns: 1fr;
  }
}
